.elements__header {

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  position: relative;
  padding: 25px 45px 31px 16px;
}

/* .elements__header::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 20px;

  background: no-repeat url(../../../../images/like-disabled.svg);
  width: 22px;
  height: 18px;
}

.elements__header:active::after {
  background: no-repeat url(../../../../images/like-active.svg);
} */