.header {
    box-sizing: border-box;
    height: 74px;
    margin-top: 45px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 425px) {
    .header {
        height: 56px;
        margin-top: 28px;
    }
}
